@import "../../app.component.scss";
.saida-form {
  // background-color: $main-color;
  border-radius: 4px;
  color: white;
  & .mb-3 {
    background: rgb(182, 22, 34);
    background: linear-gradient(74deg, rgba(182, 22, 34, 1) 0%, rgba(128, 19, 54, 1) 100%);
    border-radius: 4px;
    padding: 1rem 0;
  }
}

.side-card {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;

  & i {
    color: white;
    font-size: x-large;
  }
}

.input-number input {
  width: 50%;
}

button:disabled {
  background: gray !important;
}
