@import "../../app.component.scss";
.saida-form {
  // background-color: $main-color;
  border-radius: 4px;
  color: white;
  & .mb-3 {
    background: rgb(182, 22, 34);
    background: $main-gradient;
    border-radius: 4px;
    padding: 1rem 0;
    // & * {
    //   // z-index: -1;
    // }
  }
}
.button-form * {
  z-index: 0 !important;
}

.side-card {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;

  & i {
    color: white;
    font-size: x-large;
  }
}

.input-number input {
  width: 50%;
}

button:disabled {
  background: gray !important;
}
