@import "../../app.component.scss";
.saida-form {
  // background-color: $main-color;
  border-radius: 4px;
  color: white;
  & .mb-3 {
    background: rgb(182, 22, 34);
    background: $main-gradient;
    border-radius: 4px;
    padding: 1rem 0;
    // z-index: -1;
    // & * {
    //   z-index: 1;
    // }
  }
}
.button-form * {
  z-index: 0 !important;
}
