<style>
  .col-6.input-number input {
    width: 50%;
  }

  label {
    margin-top: 1rem;
  }
</style>

<section class="px-4">
  <form class="text-center saida-form p-3" [formGroup]="adiantamentoForm" action="">
    <div class="mb-3 row justify-content-center animate__animated" [ngClass]="{'animate__slideInRight': !animate}">
      <div class="col">
        <label class="form-label d-block">Nome</label>
        <p-dropdown formControlName="nome" [options]="namesData.DATA" optionValue="name" optionLabel="name">
        </p-dropdown>
      </div>
      <div class="col-6 input-number">
        <label class="form-label d-block">Tipo</label>
        <p-dropdown optionValue="name" optionLabel="name" formControlName="tipo" [options]="tipos">
        </p-dropdown>
      </div>
    </div>

    <div class="mb-3 row justify-content-center animate__animated" [ngClass]="{'animate__slideInRight': !animate}">
      <div class="col">
        <label class="form-label d-block">Status</label>
        <p-dropdown formControlName="status" optionValue="name" optionLabel="name" [options]="status">
        </p-dropdown>
      </div>
      <div class="col input-number">
        <label class="form-label d-block">Descrição</label>
        <textarea placeholder="Descrição..." formControlName="description" pInputTextarea></textarea>
      </div>
      <div class="col input-number">
        <label class="form-label d-block">Valor</label>
        <p-inputNumber [minFractionDigits]="2" locale="es-ES" formControlName="valor" [showButtons]="true"
          buttonLayout="horizontal" spinnerMode="horizontal" decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
      </div>
    </div>
  </form>
  <div class="text-center saida-form p-3 pt-0 animate__animated" [ngClass]="{'animate__slideInRight': !animate}">
    <div class="mb-3 row justify-content-center">
      <button (click)="salvar()" [disabled]="loading || !adiantamentoForm.valid"
        class="btn btn-danger col-6 mb-3 me-1">Salvar</button>
      <button (click)="exportar()" [disabled]="loading" class="btn btn-danger col-6 mb-3 me-1">Exportar</button>
      <button routerLink="/home" class="btn btn-danger col-6">Voltar</button>
      <p-progressSpinner class="position-absolute" *ngIf="loading"></p-progressSpinner>
    </div>
  </div>
</section>

<p-toast position="top-left"></p-toast>
