$main-color: #ee4540;
$main-color-darker: #b61622;
$main-color-lighter: #ff1f1f;
$secondary-color: #ffffff;
$third-color: #801336;
$main-gradient: linear-gradient(74deg, rgba(182, 22, 34, 1) 0%, rgba(128, 19, 54, 1) 100%);

.saida-form input {
  width: 50%;
}
