@import "../../app.component.scss";

.item-card{
  border-radius: 10px;
  color: $secondary-color;
  background-color: $main-color;
  & i {
    color: white;
    right: 10px;
    top: 35%;
    font-size: xx-large;
  }
}
