<section class="p-4">
  <div>
    <h4>Escolha uma opção</h4>
  </div>
  <div>
    <div routerLink="/sistema/adiantamento"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Adiantamentos</h2>
      <span>Gerenciar adiantamentos</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/entradas"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Entradas</h2>
      <span>Gerenciar entradas</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/investimentos"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Investimentos</h2>
      <span>Gerenciar Emprestimos/Investimentos</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/motoboys"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Motoboys</h2>
      <span>Gerenciar motoboys</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/prolabore"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Prolabore</h2>
      <span>Gerenciar prolabore</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/saidas"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Saídas</h2>
      <span>Gerenciar saídas</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/transporte-loja"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Transporte Loja</h2>
      <span>Gerenciar Transporte Loja</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/dashBoard"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>DashBoard (Teste)</h2>
      <span>Visualizar Dashboard</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div (click)="exportAll()"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Exportar Tudo</h2>
      <span>Exportar todas as planilhas</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
    <div routerLink="/sistema/config"
      class="item-card text-center mb-3 py-3 position-relative animate__animated animate__slideInLeft">
      <h2>Configurações</h2>
      <span>Configurar campos</span>
      <i class="pi pi-chevron-right position-absolute"></i>
    </div>
  </div>
</section>
